# Proxmox VE API
PVE_HOST=192.168.1.10:8006
PVE_NODE=pve
PVE_TOKEN=user@pve!tokenid=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
PVE_VERIFY_SSL=false

# MQTT
MQTT_HOST=mqtt
MQTT_PORT=1883
MQTT_USER=proxmox2mqtt
MQTT_PASS=changeme

# Topics / discovery
DISCOVERY_PREFIX=homeassistant
STATE_PREFIX=proxmox/pve
DEVICE_PREFIX=pve_pve

POLL_INTERVAL=15

# Proxmox Backup Server (optional, for last-backup info; leave PBS_HOST empty to disable)
PBS_HOST=
PBS_TOKEN=user@pbs!tokenid:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
PBS_DATASTORE=datastore1
